label{
    display: inline-block;
    float: left;
    clear: left;
    width: 70px;
    text-align: left;
}
#operador1,#operador2,#resultado {
  display: inline-block;
  float: left;
}

#operaciones{
    display: inline-block; 
    padding-top: 15px;    
    width:10%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
