label{
    display: inline-block;
    float: left;
    clear: left;
    width: 75px;
    text-align: left;
    padding-bottom: 10px;
}
#operador1,#operador2,#resultado {
  display: inline-block;
  float: left;
}
.operaciones , 
.valores{
    display: inline-block;
    padding-top: 5px;
    padding-left: 20px;
    width:100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
  padding-bottom: 10px;
  padding-top: 5px;
}
